.ui.menu .item img.logo {
    margin-right: 1em;
}
#mast-header {
    font-weight: normal;
}
.ui.inverted.menu {
    background: #0072bb;
}
#intro-text {
    font-size: 1.2rem;
}
#intro-text .modal-about-trigger:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
#intro-text .modal-about-trigger:hover {
    cursor: pointer;
    opacity: .6;
}
#menu-info a {
    font-size: 1.1rem;
}




#country-dropdown .menu .menu {
    max-height: 480px;
    overflow-y: scroll;
}
#year-dropdown {
    min-width: 0;
}
#dropdown-current-country {
    font-size: 1.2em;
}
#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px; 
    min-width: 140px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(12px, -50%);
    transform: translate(12px, -50%);
    z-index: 1000; 
}
#popup-content div {
    color: white;
    font-weight: normal;
    margin: 2px 0;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.chartd-subheads {
    margin-top: 0;
    padding-top: 0;
}
.chartd-subheads span:first-child {
    margin-left: 87px;
}
.chartd-subheads span:nth-child(2) {
    margin-right: 30px;
}

table div {
    font-weight: bold;
}
table div span {
    font-weight: normal;
}

.modal .content p{
    font-size: 1.1rem;
}

#chartETable_info {
     display: none; 
}

/* MAP STUFF */
#map {
    height: 480px;
    width: 100%;
    background: #0072bb;
    margin: 18px auto;
    position: relative
}
#map-legend {
    position: absolute;
    z-index: 1000;
    bottom: 18px;
    left: 18px;
    background: whitesmoke;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 3px;
}
#map-legend span {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
}
.stroke {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
}

.fill {
  fill: #0072bb;
}

.graticule {
  fill: none;
  stroke: #fff;
  stroke-width: .3px;
  stroke-opacity: .2;
}
.country {
  stroke: whitesmoke;
  stroke-width: .2px;
  stroke-opacity: .7;
}
.country:hover {
    cursor: pointer;
}