#map {
    height: 480px;
    width: 100%;
    background: steelblue;
}
#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.chartd-subheads {
    margin-top: 0;
    padding-top: 0;
}
.chartd-subheads span:first-child {
    margin-left: 87px;
}
.chartd-subheads span:nth-child(2) {
    margin-right: 30px;
}

#chartEtableBody {
    height: 300px;
    overflow-y: scroll; 
}